<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="css/normalize.min.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

        <!--[if lt IE 9]>
            <script src="js/vendor/html5-3.6-respond-1.1.0.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <!-- Fixed navbar -->
        <nav class="navbar navbar-default navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <span class="navbar-brand">Twilight Zone Marathon Simulator</span>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <button id="NextEpisode" class="btn btn-success"
                            rv-class-btn-warning="nextEpisode.clicked"
                            rv-if="nextEpisode.set">
                                <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
                                {nextEpisode.episodeName}
                        </button>
                    </li>
                </ul>
            </div><!--/.nav-collapse -->
          </div>
        </nav>

        <!-- Begin page content -->
        <div id="Content" class="container">
            <div class="row page-header" >
                <div class="col-md-8">
                    <h1>Twilight Zone Marathon Simulator- New Years Edition</h1>
                    <h4>
                        Because <del>19 hour</del> 4 day marathons with rigid schedules and
                        repetitive commercials are an inalienable human (and martian) right. <em>You think about that now.</em>
                    </h4>
                </div>
                <div class="col-md-4">
                    <img src="img/martian.jpg" id="headerImg" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <h2 class="text-info">What Is this</h2>
                    <p>The annual 4th of July Twilight Zone marathon on <del>Syfy</del> <em>Sci-Fi</em> (Never give up. Never surrender) has been a Kerry family tradition for as long as I can remember. Critically important elements of this tradition include:</p>
                    <ul>
                        <li>
                            Opening and being aware of the episode schedule at all times.
                        </li>
                        <li>
                            Calling / texting / yelling at other family members when key episodes fire.
                        </li>
                        <li>
                            Cursing the day that Holes 99786989796 was created since you've listened to the commercial for the Nth time, completely melding it into your subconscious.
                        </li>
                        <li>
                            Lamenting the midnight ball drop, since it will require you halt your addiction for normal human activities.
                        </li>
                        <li>
                            Loathing the regularly scheduled programming and infomercials that cause temporary lapses in coverage.
                        </li>
                    </ul>
                    <p>When my wife and I decided to cut the cord last year we didn't realize the horror we were creating for ourselves. Our error wasn't obvious until that year's Twilight zone marathon plans started rolling in. Yes, you <em>could<em> just binge it all on Netflix like a casual. You <em>could<em> spread it over a week. You <em>could<em> just watch a few at your mom's place. My friends- that would make you <strong>Obsolete</strong>.  </p>
                </div>
                <div class="col-md-4">
                    <h2 class="text-info">How It Works</h2>
                    <p>Every few minutes your browser will check a manually curated list of episodes, their air time, and the embed link for that episode on hulu.  When one is available you'll see a button much like:</p>
                    <br />
                    <button class="btn btn-success">Next Episode: The Old Man in the Cave</button>
                    <p>when clicked this will replace the window contents with the embedded hulu episode. The button will change like so to signify that you've already loaded this episode:</p>
                    <button class="btn btn-warning">Next Episode: The Old Man in the Cave</button>
                    <p>~30 minutes later you'll see a change!</p>
                    <button class="btn btn-success">Next Episode: Caesar and Me</button>
                    <p>You get where this is going..</p>
                </div>
                <div class="col-md-4">
                    <h2 class="text-info">Find a bug?</h2>
                    <p>Feel free to <a href="mailto:development@kerryhouse.net">Email Me</a> or add an issue on <a href="https://github.com/jkerry/TwilightZoneMarathon">Github</a>.</p>
                </div>

            </div>

        </div>

        <footer class="footer">
          <div class="container" id="CurrentEpisode">
            <span class="navbar-brand"  id="CurrentEpisode" rv-if="currentEpisode.set">Current Episode: {currentEpisode.episodeName}</span>
          </div>
        </footer>
    </body>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-58089266-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.1.min.js"><\/script>')</script>
    <script src="js/vendor/index.js"></script>
    <script src="js/vendor/rivets.min.js"></script>
    <script src="js/marathonSchedule.js"></script>
    <script src="js/main.js"></script>
    <script src="js/vendor/bootstrap.min.js"></script>
</html>
